gac_sb/flows/Clone_des_economies_clients-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ajout_aux_nouvelles_conomies</name>
        <label>ajout aux nouvelles économies</label>
        <locationX>535</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>NewEconomiesclients</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EconomieClient</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Boucle_changement_de_recours</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Changement_de_Recours</name>
        <label>Changement de Recours</label>
        <locationX>272</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>EconomieClient.Recours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IdRecours</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ajout_aux_nouvelles_conomies</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Clone des economies clients {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone des economies clients</label>
    <loops>
        <name>Boucle_changement_de_recours</name>
        <label>Boucle changement de recours</label>
        <locationX>272</locationX>
        <locationY>328</locationY>
        <assignNextValueToReference>EconomieClient</assignNextValueToReference>
        <collectionReference>EconomiesClients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Changement_de_Recours</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Creation_Economie_client</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Creation_Economie_client</name>
        <label>Création Economie client</label>
        <locationX>536</locationX>
        <locationY>328</locationY>
        <inputReference>NewEconomiesclients</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Reference_Economies_Clients_existantes</name>
        <label>Référence Economies Clients existantes</label>
        <locationX>273</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Boucle_changement_de_recours</targetReference>
        </connector>
        <filters>
            <field>Recours__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRecoursParents</elementReference>
            </value>
        </filters>
        <object>AppATEconomieClient__c</object>
        <outputReference>EconomiesClients</outputReference>
        <queriedFields>Name</queriedFields>
        <queriedFields>MasseSalarialeActuelle__c</queriedFields>
        <queriedFields>Recours__c</queriedFields>
        <queriedFields>TauxInitial__c</queriedFields>
        <queriedFields>TauxRectifie__c</queriedFields>
    </recordLookups>
    <startElementReference>Reference_Economies_Clients_existantes</startElementReference>
    <variables>
        <name>EconomieClient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppATEconomieClient__c</objectType>
    </variables>
    <variables>
        <name>EconomiesClients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppATEconomieClient__c</objectType>
    </variables>
    <variables>
        <name>IdRecours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IdRecoursParents</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewEconomiesclients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppATEconomieClient__c</objectType>
    </variables>
</Flow>
