gac_sb/flows/CreationePrevision_CA-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>AjoutPrevisionsCollection</name>
        <label>Ajout des Previsions à la collection</label>
        <locationX>1500</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>PrevisionsCA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrevisionCA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecuperationEconomiesClient</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AjoutPrevisionsCollection_2</name>
        <label>Ajout des Previsions à la collection</label>
        <locationX>907</locationX>
        <locationY>842</locationY>
        <assignmentItems>
            <assignToReference>PrevisionsCA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PrevisionCA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SommeMontantPremiereEconomie_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Economie_Prevision</name>
        <label>Map Economie - Prevision</label>
        <locationX>1353</locationX>
        <locationY>49</locationY>
        <assignmentItems>
            <assignToReference>PrevisionCA.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EconomieClient.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrevisionCA.Recours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EconomieClient.Recours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrevisionCA.DatePassageReelle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateEstReelle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrevisionCA.MontantFacturable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EconomieClient.MontantEconomiePonderee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AjoutPrevisionsCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Map_Economie_Prevision_2</name>
        <label>Map Economie - Prevision</label>
        <locationX>906</locationX>
        <locationY>649</locationY>
        <assignmentItems>
            <assignToReference>PrevisionCA.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EconomieClient.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrevisionCA.Recours__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EconomieClient.Recours__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrevisionCA.DatePassageReelle__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DateEstReelle</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PrevisionCA.MontantFacturable__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EconomieClient.MontantEconomiePonderee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AjoutPrevisionsCollection_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>SommeMontantFacturable</name>
        <label>Somme Montant Facturable</label>
        <locationX>907</locationX>
        <locationY>461</locationY>
        <assignmentItems>
            <assignToReference>MontantFacturable</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>EconomieClient.MontantEconomiePonderee__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SommeMontantPremiereEconomie</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Accord</name>
        <dataType>String</dataType>
        <value>
            <stringValue>accord</stringValue>
        </value>
    </constants>
    <constants>
        <name>Echoir</name>
        <dataType>String</dataType>
        <value>
            <stringValue>échoir</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Previsions_au_forfait</name>
        <label>Prévisions au forfait ?</label>
        <locationX>313</locationX>
        <locationY>64</locationY>
        <defaultConnector>
            <targetReference>ReferenceDerniereEconomie</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Résultat par défaut]</defaultConnectorLabel>
        <rules>
            <name>Oui_au_forfait</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecoursAuForfait</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreationUnePrevision</targetReference>
            </connector>
            <label>Oui, au forfait !</label>
        </rules>
    </decisions>
    <decisions>
        <name>PrevisionsExistantes</name>
        <label>Prévisions existantes ?</label>
        <locationX>40</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>Previsions_au_forfait</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Résultat par défaut]</defaultConnectorLabel>
        <rules>
            <name>OuiEllesExistent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PrevisionsCAaSupprimer</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SuppressionPrevisionsExistantes</targetReference>
            </connector>
            <label>Oui, elles existent</label>
        </rules>
    </decisions>
    <decisions>
        <name>QuelleEconomieCreee</name>
        <label>QuelleEconomieCréée ?</label>
        <locationX>571</locationX>
        <locationY>195</locationY>
        <defaultConnector>
            <targetReference>RecuperationEconomiesAvantDatePassage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Résultat par défaut]</defaultConnectorLabel>
        <rules>
            <name>CreationUneAnnee</name>
            <conditionLogic>1 OR (2 AND 3) OR 4</conditionLogic>
            <conditions>
                <leftValueReference>TypeContrat</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Accord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>TypeContrat</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Accord</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AnneePassage</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>DerniereAnneEconomie</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>RecoursAuForfait</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreationUnePrevision</targetReference>
            </connector>
            <label>Création une année</label>
        </rules>
        <rules>
            <name>AnneePassageAvantPremiereEconomie</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AnneePassage</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>PremiereAnneeEconomie</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecuperationEconomiesClient</targetReference>
            </connector>
            <label>Annee Passage Avant Première Economie</label>
        </rules>
    </decisions>
    <formulas>
        <name>AnneePassage</name>
        <dataType>Number</dataType>
        <expression>{!YEAR(DatePassage)}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>MontantFacturableTotal</name>
        <dataType>Currency</dataType>
        <expression>{!IF(
  RecoursAuForfait,
  MontantForfait*TauxSucces,
  MontantEconomieClientRecours*TauxRemuneration/100*TauxSucces)}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TXTAnneePassage</name>
        <dataType>String</dataType>
        <expression>{!TEXT(AnneePassage)}</expression>
    </formulas>
    <interviewLabel>Création Prévision CA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Création Prévision CA</label>
    <loops>
        <name>RecuperationEconomiesClient</name>
        <label>Récupération des économies client</label>
        <locationX>1179</locationX>
        <locationY>192</locationY>
        <assignNextValueToReference>EconomieClient</assignNextValueToReference>
        <collectionReference>EconomiesClients</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Economie_Prevision</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreationPrevisions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SommeMontantPremiereEconomie</name>
        <label>Somme du montant de la première économie</label>
        <locationX>571</locationX>
        <locationY>461</locationY>
        <assignNextValueToReference>EconomieClient</assignNextValueToReference>
        <collectionReference>EconomieClient_AvantDatePassage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SommeMontantFacturable</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>RecuperationEconomiesAprsDatePassage</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>SommeMontantPremiereEconomie_0</name>
        <label>Somme du montant de la première économie</label>
        <locationX>572</locationX>
        <locationY>646</locationY>
        <assignNextValueToReference>EconomieClient</assignNextValueToReference>
        <collectionReference>EconomieClientApresDatePassage</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Map_Economie_Prevision_2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreationPrevisions_2</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreationPrevisionAnneedelibere</name>
        <label>Création Prévision de l&apos;année de délibéré</label>
        <locationX>211</locationX>
        <locationY>649</locationY>
        <connector>
            <targetReference>SommeMontantPremiereEconomie_0</targetReference>
        </connector>
        <inputAssignments>
            <field>DatePassageReelle__c</field>
            <value>
                <elementReference>DateEstReelle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MontantFacturable__c</field>
            <value>
                <elementReference>MontantFacturable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TXTAnneePassage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recours__c</field>
            <value>
                <elementReference>IdRecours</elementReference>
            </value>
        </inputAssignments>
        <object>AppATPrevisionCA__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreationPrevisions</name>
        <label>Création des prévisions</label>
        <locationX>1184</locationX>
        <locationY>352</locationY>
        <inputReference>PrevisionsCA</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreationPrevisions_2</name>
        <label>Création des prévisions</label>
        <locationX>574</locationX>
        <locationY>839</locationY>
        <inputReference>PrevisionsCA</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreationUnePrevision</name>
        <label>Création d&apos;une prévision</label>
        <locationX>567</locationX>
        <locationY>67</locationY>
        <inputAssignments>
            <field>DatePassageReelle__c</field>
            <value>
                <elementReference>DateEstReelle</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MontantFacturable__c</field>
            <value>
                <elementReference>MontantFacturableTotal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>TXTAnneePassage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Recours__c</field>
            <value>
                <elementReference>IdRecours</elementReference>
            </value>
        </inputAssignments>
        <object>AppATPrevisionCA__c</object>
    </recordCreates>
    <recordDeletes>
        <name>SuppressionPrevisionsExistantes</name>
        <label>Suppression des prévisions existantes</label>
        <locationX>42</locationX>
        <locationY>348</locationY>
        <connector>
            <targetReference>Previsions_au_forfait</targetReference>
        </connector>
        <inputReference>PrevisionsCAaSupprimer</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>RecuperationEconomiesAprsDatePassage</name>
        <label>Récupération des économies après la date de passage</label>
        <locationX>211</locationX>
        <locationY>462</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreationPrevisionAnneedelibere</targetReference>
        </connector>
        <filters>
            <field>Recours__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRecours</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Annee_numero__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>AnneePassage</elementReference>
            </value>
        </filters>
        <object>AppATEconomieClient__c</object>
        <outputReference>EconomieClientApresDatePassage</outputReference>
        <queriedFields>MontantEconomiePonderee__c</queriedFields>
        <queriedFields>Recours__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>RecuperationEconomiesAvantDatePassage</name>
        <label>Récupération des économies avant la date de passage</label>
        <locationX>571</locationX>
        <locationY>339</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SommeMontantPremiereEconomie</targetReference>
        </connector>
        <filters>
            <field>Recours__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRecours</elementReference>
            </value>
        </filters>
        <filters>
            <field>TECH_Annee_numero__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>AnneePassage</elementReference>
            </value>
        </filters>
        <object>AppATEconomieClient__c</object>
        <outputReference>EconomieClient_AvantDatePassage</outputReference>
        <queriedFields>MontantEconomiePonderee__c</queriedFields>
        <queriedFields>TECH_Annee_numero__c</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>ReferenceDerniereEconomie</name>
        <label>Référence Dernière Economie</label>
        <locationX>304</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ReferencePremiereEconomie</targetReference>
        </connector>
        <filters>
            <field>Recours__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRecours</elementReference>
            </value>
        </filters>
        <object>AppATEconomieClient__c</object>
        <outputAssignments>
            <assignToReference>DerniereAnneEconomie</assignToReference>
            <field>TECH_Annee_numero__c</field>
        </outputAssignments>
        <sortField>TECH_Annee_numero__c</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>ReferencePremiereEconomie</name>
        <label>Référence Première Economie</label>
        <locationX>304</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QuelleEconomieCreee</targetReference>
        </connector>
        <filters>
            <field>Recours__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRecours</elementReference>
            </value>
        </filters>
        <object>AppATEconomieClient__c</object>
        <outputAssignments>
            <assignToReference>PremiereAnneeEconomie</assignToReference>
            <field>TECH_Annee_numero__c</field>
        </outputAssignments>
        <sortField>TECH_Annee_numero__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>ReferencePrevisionExistante</name>
        <label>Référence Prévision existante</label>
        <locationX>40</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PrevisionsExistantes</targetReference>
        </connector>
        <filters>
            <field>Recours__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>IdRecours</elementReference>
            </value>
        </filters>
        <object>AppATPrevisionCA__c</object>
        <outputReference>PrevisionsCAaSupprimer</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>ReferencePrevisionExistante</startElementReference>
    <variables>
        <name>DateEstReelle</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>DatePassage</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DerniereAnneEconomie</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>EconomieClient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppATEconomieClient__c</objectType>
    </variables>
    <variables>
        <name>EconomieClient_AvantDatePassage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppATEconomieClient__c</objectType>
    </variables>
    <variables>
        <name>EconomieClientApresDatePassage</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppATEconomieClient__c</objectType>
    </variables>
    <variables>
        <name>EconomiesClients</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>AppATEconomieClient__c</objectType>
    </variables>
    <variables>
        <name>IdRecours</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MontantEconomieClientRecours</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MontantFacturable</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MontantForfait</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>PremiereAnneeEconomie</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>PrevisionCA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppATPrevisionCA__c</objectType>
    </variables>
    <variables>
        <name>PrevisionsCA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppATPrevisionCA__c</objectType>
    </variables>
    <variables>
        <name>PrevisionsCAaSupprimer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AppATPrevisionCA__c</objectType>
    </variables>
    <variables>
        <name>RecoursAuForfait</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TauxRemuneration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TauxSucces</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>TypeContrat</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
