gac_sb/flows/RentaCir-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Gamme__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Start-Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Opp Cir Startup</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIR</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>Picklist</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.Gamme__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Start-Up</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Opp Cir Normales</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <processMetadataValues>
                    <name>inputDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>leftHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>operatorDataType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <processMetadataValues>
                    <name>rightHandSideType</name>
                    <value>
                        <stringValue>String</stringValue>
                    </value>
                </processMetadataValues>
                <leftValueReference>myVariable_current.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CIR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Finally</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF((ISBLANK([Opportunity].Nombre_de_projets_auditer__c ) || [Opportunity].Nombre_de_projets_auditer__c = 0),0, 
IF(NOT(ISPICKVAL([Opportunity].Gamme__c,&apos;Offre essentielle&apos;)), 
(IF( [Opportunity].renta2_Montant_cirN__c &lt;= 100000 , 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 4,0.3, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 6,0.45, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 11,0.6, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 21,0.75, 
IF([Opportunity].Nombre_de_projets_auditer__c &gt;= 21,0.9,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &lt;= 300000 , 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 4,0.4, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 6,0.55, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 11,0.7, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 21,0.85, 
IF([Opportunity].Nombre_de_projets_auditer__c &gt;= 21,1,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &gt; 300000 , 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 4,0.6, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 6,0.8, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 11,1, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 21,1.2, 
IF([Opportunity].Nombre_de_projets_auditer__c &gt;= 21,([Opportunity].Nombre_de_projets_auditer__c/14),0))))),0)))), 

(IF([Opportunity].renta2_Montant_cirN__c &lt;= 100000 , 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 4,0.3, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 6,0.35, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 11,0.5, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 21,0.65, 
IF([Opportunity].Nombre_de_projets_auditer__c &gt;= 21,0.8,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &lt;= 300000 , 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 4,0.4, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 6,0.45, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 11,0.6, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 21,0.75, 
IF([Opportunity].Nombre_de_projets_auditer__c &gt;= 21,0.9,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &gt; 300000 , 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 4,0.6, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 6,0.7, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 11,0.9, 
IF([Opportunity].Nombre_de_projets_auditer__c &lt; 21,1.1, 
IF([Opportunity].Nombre_de_projets_auditer__c &gt;= 21,([Opportunity].Nombre_de_projets_auditer__c/15),0))))),0))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_3_A1_Renta2_Nb_jours_Projets_a_Auditer_c</name>
        <dataType>Number</dataType>
        <expression>IF((ISBLANK({!myVariable_current.Nombre_de_projets_auditer__c} ) || {!myVariable_current.Nombre_de_projets_auditer__c} = 0),0, 
IF(NOT(ISPICKVAL({!myVariable_current.Gamme__c},&apos;Offre essentielle&apos;)), 
(IF( {!myVariable_current.renta2_Montant_cirN__c} &lt;= 100000 , 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 4,0.3, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 6,0.45, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 11,0.6, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 21,0.75, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &gt;= 21,0.9,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &lt;= 300000 , 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 4,0.4, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 6,0.55, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 11,0.7, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 21,0.85, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &gt;= 21,1,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &gt; 300000 , 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 4,0.6, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 6,0.8, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 11,1, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 21,1.2, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &gt;= 21,({!myVariable_current.Nombre_de_projets_auditer__c}/14),0))))),0)))), 

(IF({!myVariable_current.renta2_Montant_cirN__c} &lt;= 100000 , 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 4,0.3, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 6,0.35, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 11,0.5, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 21,0.65, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &gt;= 21,0.8,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &lt;= 300000 , 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 4,0.4, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 6,0.45, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 11,0.6, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 21,0.75, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &gt;= 21,0.9,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &gt; 300000 , 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 4,0.6, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 6,0.7, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 11,0.9, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &lt; 21,1.1, 
IF({!myVariable_current.Nombre_de_projets_auditer__c} &gt;= 21,({!myVariable_current.Nombre_de_projets_auditer__c}/15),0))))),0))))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF((ISBLANK([Opportunity].Nombre_de_projets_rediger__c) || [Opportunity].Nombre_de_projets_rediger__c = 0),0, 
IF((ISPICKVAL([Opportunity].Account.Activity__c,&apos;Santé&apos;) || ISPICKVAL([Opportunity].Account.Sous_secto_2__c,&apos;Santé&apos;)),0, 
(IF(NOT(ISPICKVAL([Opportunity].Gamme__c,&apos;Offre essentielle&apos;)), 
(IF([Opportunity].renta2_Montant_cirN__c &lt;= 100000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,1.6, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,2.475, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,4.4, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,6.8, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 20,6.8,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &lt;= 300000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,2.05, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,2.925, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,5.2, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,8.3, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 20,13.75,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &gt; 300000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,2.4, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,3.6, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,6.4, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,10.5, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 25,10.5, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 25,([Opportunity].Nombre_de_projets_rediger__c*0.7),0)))))),0)))), 

(IF([Opportunity].renta2_Montant_cirN__c &lt;= 100000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,1.3, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,2.025, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,3.6, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,5.3, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 20,5.3,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &lt;= 300000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,1.85, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,2.475, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,4.4, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,6.8, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 20,11.25,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &gt; 300000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,2.4, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,3.2, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,5.6, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,9, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 25,9, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 25,([Opportunity].Nombre_de_projets_rediger__c*0.6),0)))))),0))))))))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_3_A1_Renta2_Nb_jours_Justif_secto_hors_Sante_c</name>
        <dataType>Number</dataType>
        <expression>IF((ISBLANK({!myVariable_current.Nombre_de_projets_rediger__c}) || {!myVariable_current.Nombre_de_projets_rediger__c} = 0),0, 
IF((ISPICKVAL({!myVariable_current.Account.Activity__c},&apos;Santé&apos;) || ISPICKVAL({!myVariable_current.Account.Sous_secto_2__c},&apos;Santé&apos;)),0, 
(IF(NOT(ISPICKVAL({!myVariable_current.Gamme__c},&apos;Offre essentielle&apos;)), 
(IF({!myVariable_current.renta2_Montant_cirN__c} &lt;= 100000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,1.6, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,2.475, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,4.4, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,6.8, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 20,6.8,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &lt;= 300000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,2.05, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,2.925, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,5.2, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,8.3, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 20,13.75,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &gt; 300000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,2.4, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,3.6, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,6.4, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,10.5, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 25,10.5, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 25,({!myVariable_current.Nombre_de_projets_rediger__c}*0.7),0)))))),0)))), 

(IF({!myVariable_current.renta2_Montant_cirN__c} &lt;= 100000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,1.3, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,2.025, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,3.6, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,5.3, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 20,5.3,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &lt;= 300000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,1.85, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,2.475, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,4.4, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,6.8, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 20,11.25,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &gt; 300000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,2.4, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,3.2, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,5.6, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,9, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 25,9, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 25,({!myVariable_current.Nombre_de_projets_rediger__c}*0.6),0)))))),0))))))))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF((ISBLANK([Opportunity].Nombre_de_projets_rediger__c) || [Opportunity].Nombre_de_projets_rediger__c = 0),0, 
IF((ISPICKVAL([Opportunity].Account.Activity__c,&apos;Santé&apos;) || ISPICKVAL([Opportunity].Account.Sous_secto_2__c,&apos;Santé&apos;)), 
IF((NOT(ISPICKVAL([Opportunity].Gamme__c,&apos;Offre essentielle&apos;))), 
(IF([Opportunity].renta2_Montant_cirN__c &lt;= 100000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,1.4, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,2, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,3.6, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,5.3, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 20,5.3,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &lt;= 300000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,1.6, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,2.5, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,4.4, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,6.8, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 20,11.3,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &gt; 300000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,2.4, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,3.2, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,5.6, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,9, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 25,15, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 25,([Opportunity].Nombre_de_projets_rediger__c*0.6),0)))))),0)))), 

(IF([Opportunity].renta2_Montant_cirN__c &lt;= 100000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,1.1, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,1.6, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,2.8, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,3.8, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 20,3.8,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &lt;= 300000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,1.4, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,2, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,3.6, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,5.3, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 20,8.8,0))))), 

IF([Opportunity].renta2_Montant_cirN__c &gt; 300000 , 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 4,2.2, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 6,2.7, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 11,4.8, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 20,7.5, 
IF([Opportunity].Nombre_de_projets_rediger__c &lt; 25,12.5, 
IF([Opportunity].Nombre_de_projets_rediger__c &gt;= 25,([Opportunity].Nombre_de_projets_rediger__c*0.5),0)))))),0))))),0))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_3_A1_Renta2_Nb_jours_Justif_secto_Sante_c</name>
        <dataType>Number</dataType>
        <expression>IF((ISBLANK({!myVariable_current.Nombre_de_projets_rediger__c}) || {!myVariable_current.Nombre_de_projets_rediger__c} = 0),0, 
IF((ISPICKVAL({!myVariable_current.Account.Activity__c},&apos;Santé&apos;) || ISPICKVAL({!myVariable_current.Account.Sous_secto_2__c},&apos;Santé&apos;)), 
IF((NOT(ISPICKVAL({!myVariable_current.Gamme__c},&apos;Offre essentielle&apos;))), 
(IF({!myVariable_current.renta2_Montant_cirN__c} &lt;= 100000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,1.4, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,2, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,3.6, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,5.3, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 20,5.3,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &lt;= 300000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,1.6, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,2.5, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,4.4, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,6.8, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 20,11.3,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &gt; 300000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,2.4, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,3.2, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,5.6, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,9, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 25,15, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 25,({!myVariable_current.Nombre_de_projets_rediger__c}*0.6),0)))))),0)))), 

(IF({!myVariable_current.renta2_Montant_cirN__c} &lt;= 100000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,1.1, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,1.6, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,2.8, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,3.8, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 20,3.8,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &lt;= 300000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,1.4, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,2, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,3.6, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,5.3, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 20,8.8,0))))), 

IF({!myVariable_current.renta2_Montant_cirN__c} &gt; 300000 , 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 4,2.2, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 6,2.7, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 11,4.8, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 20,7.5, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &lt; 25,12.5, 
IF({!myVariable_current.Nombre_de_projets_rediger__c} &gt;= 25,({!myVariable_current.Nombre_de_projets_rediger__c}*0.5),0)))))),0))))),0))</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF([Opportunity].CloseDate &gt; DATE(2016,04,04), 
[Opportunity].Renta2_CA_Cible_New__c,[Opportunity].renta_CA_cible__c)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_8_A1_Renta2_CA_cible_c</name>
        <dataType>Currency</dataType>
        <expression>IF({!myVariable_current.CloseDate} &gt; DATE(2016,04,04), 
{!myVariable_current.Renta2_CA_Cible_New__c},{!myVariable_current.renta_CA_cible__c})</expression>
        <scale>18</scale>
    </formulas>
    <interviewLabel>RentaCir-2_Opportunity</interviewLabel>
    <label>Renta Cir</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Opportunity</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Maj Nb Jours Projets a auditer</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Nombre de projets à auditer</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <field>Nombre_de_projets_auditer__c</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>MAJ Jours Renta</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myDecision7</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Nombre de jours Justif secto Santé</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Renta2_Nb_jours_Justif_secto_Sante__c</field>
            <value>
                <elementReference>formula_6_myRule_3_A1_Renta2_Nb_jours_Justif_secto_Sante_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Nombre de jours Justif secto hors Santé</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Renta2_Nb_jours_Justif_secto_hors_Sante__c</field>
            <value>
                <elementReference>formula_5_myRule_3_A1_Renta2_Nb_jours_Justif_secto_hors_Sante_c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Nombre de jours Projets à Auditer</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Renta2_Nb_jours_Projets_a_Auditer__c</field>
            <value>
                <elementReference>formula_4_myRule_3_A1_Renta2_Nb_jours_Projets_a_Auditer_c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Opportunity]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>MAJ CA Cible</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Currency</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>CA cible</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Renta2_CA_cible__c</field>
            <value>
                <elementReference>formula_9_myRule_8_A1_Renta2_CA_cible_c</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
